DATABASE_URL=""
PORT=4000
CORS_ORIGIN=*
DDOS_MAX_REQUESTS_PER_SEC=10
DDOS_CHECK_INTERVAL_MS=1000
DDOS_BAN_SECONDS=300

NODE_ENV="development"
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="30d"
PAYPAL_BASE_URL="https://api-m.sandbox.paypal.com"
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
FRONTEND_URL="http://localhost:3000"
UPLOAD_DIR="uploads"
CF_ACCESS_KEY_ID=""
CF_ACCESS_SECRET=""
CF_ENDPOINT=""
CF_BUCKET=""
CF_PUBLIC_ACCESS_URL=""